<footer class="revealed" style="position:sticky;margin-top: 0px;">
    <div class="container" style="margin-top: 0px;">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_1">Liên kết nhanh</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_1">
                    <ul>
                        <li><a [routerLink]="['/aboutus']">Về chúng tôi</a></li>
                        <li><a [routerLink]="['/aboutus']">Câu hỏi thường gặp</a></li>
                        <li><a [routerLink]="['/aboutus']">Hỗ trợ</a></li>
                        <li><a [routerLink]="['/account']">Tài khoản của tôi</a></li>
                        <li><a [routerLink]="['/blog']">Blog</a></li>
                        <li><a [routerLink]="['/aboutus']">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 data-target="#collapse_2">Danh mục</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_2">
                    <ul>
                        <li><a href="listing-grid-1-full.html">Áo Khoác</a></li>
                        <li><a href="listing-grid-2-full.html">Áo Polo</a></li>
                        <li><a href="listing-grid-1-full.html">Áo Sơmi</a></li>
                        <li><a href="listing-grid-3.html">Áo Thun</a></li>
                        <li><a href="listing-grid-1-full.html">Quần Kaki</a></li>
                        <li><a href="listing-grid-1-full.html">Quần Tây</a></li>
                        <li><a href="listing-grid-1-full.html">Quần Short</a></li>
                        <li><a href="listing-grid-1-full.html">Quần Jeans</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                    <h3 data-target="#collapse_3">Liên Hệ</h3>
                <div class="collapse dont-collapse-sm contacts" id="collapse_3">
                    <ul>
                        <li><i class="ti-home"></i>66A Đường Số 6<br>Linh Trung - Thủ Đức - HCM</li>
                        <li><i class="ti-headphone-alt"></i>+84 813-757-123</li>
                        <li><i class="ti-email"></i><a href="#0">contact@theweekdays.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                    <h3 data-target="#collapse_4">Đăng ký nhận thông tin</h3>
                <div class="collapse dont-collapse-sm" id="collapse_4">
                    <div id="newsletter">
                        <div class="form-group">
                            <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Email của bạn">
                            <button type="submit" id="submit-newsletter"><i class="ti-angle-double-right"></i></button>
                        </div>
                    </div>
                    <div class="follow_us">
                        <h5>Theo dõi chúng tôi</h5>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100064076131819"><img src="../assets/img/logo/facebook.svg"></a></li>
                            <li><a href="https://www.instagram.com/theweekdaysvn/"><img src="../assets/img/logo/instagram.svg"></a></li>
                            <li><a href="https://www.tiktok.com/@theweekdaysvn"><img src="../assets/img/logo/tiktok.svg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row-->
        <hr>
        <div class="row add_bottom_25">
            <div class="col-lg-6">
                <ul class="footer-selector clearfix">

                    <li><img src="https://webmedia.com.vn/images/2021/09/logo-da-thong-bao-bo-cong-thuong-mau-xanh.png" height="75rem" ></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="additional_links">
                    <li><a href="#0">Điều khoản và dịch vụ</a></li>
                    <li><a href="#0">Chính sách</a></li>
                    <li><span>© 2022 theweekdays</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->
