<main class="bg_gray">

    <div class="bg_white">
        <div class="container margin_60_35">
            <div class="main_title">
                <h2>Đội ngũ TheWeekdays</h2>
                <p>Thành công của chúng tôi được tạo nên từ nhiệt huyết và chuyên môn đội ngũ nhân sự của chúng tôi.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box_feat">
                        <i> <img class="rounded-img" src="../assets/img/thumbnail/ghung.jpg" width="150"></i>
                        <h3>Nguyễn Gia Hưng</h3>
                        <p>Member</p>
                        <div class="follow_us">
                            <ul>
                                <li><a href="https://www.linkedin.com/in/nguyen-gia-hung/"><img src="../assets/img/logo/linkedin.svg"></a></li>
                                <li><a href="https://www.facebook.com/hung.classical/"><img src="../assets/img/logo/facebook.svg"></a></li>
                                <li><a href="https://www.instagram.com/tyhun_ng/"><img src="../assets/img/logo/instagram.svg"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box_feat">
                        <i> <img class="rounded-img" src="../assets/img/thumbnail/anhanh.jpg" width="150"></i>
                        <h3>Đinh Văn An</h3>
                        <p>Project Leader</p>
                        <div class="follow_us">
                            <ul>
                                <li><a href="https://www.linkedin.com/in/van-an-dinh/"><img src="../assets/img/logo/linkedin.svg"></a></li>
                                <li><a href="https://www.facebook.com/ThanhEnc"><img src="../assets/img/logo/facebook.svg"></a></li>
                                <li><a href="https://www.instagram.com/thanhenc/"><img src="../assets/img/logo/instagram.svg"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box_feat">
                        <i> <img class="rounded-img" src="../assets/img/thumbnail/haohan.jpg" width="150"></i>
                        <h3>Đinh Hoàn Hảo</h3>
                        <p>Member</p>
                        <div class="follow_us">
                            <ul>
                                <li><a href="https://www.linkedin.com/in/hoan-hao-dinh/"><img src="../assets/img/logo/linkedin.svg"></a></li>
                                <li><a href="https://www.facebook.com/profile.php?id=100021863109499"><img src="../assets/img/logo/facebook.svg"></a></li>
                                <li><a href="https://www.instagram.com/paferuto/"><img src="../assets/img/logo/instagram.svg"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="box_feat">
                        <i> <img class="rounded-img" src="../assets/img/thumbnail/hp.jpg" width="150"></i>
                        <h3>Phạm Nguyễn Hiền Phương</h3>
                        <p>Member</p>
                        <div class="follow_us">
                            <ul>
                                <li><a href="https://www.linkedin.com/in/pnhienphuong/"><img src="../assets/img/logo/linkedin.svg"></a></li>
                                <li><a href="https://www.facebook.com/pnhienphuong"><img src="../assets/img/logo/facebook.svg"></a></li>
                                <li><a href="https://www.instagram.com/pnhienphuong/"><img src="../assets/img/logo/instagram.svg"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box_feat">
                        <i> <img class="rounded-img" src="../assets/img/thumbnail/th.webp" width="150"></i>
                        <h3>Lê Thanh Hải</h3>
                        <p>Member</p>
                        <div class="follow_us">
                            <ul>
                                <li><a href="https://www.linkedin.com/in/van-an-dinh/"><img src="../assets/img/logo/linkedin.svg"></a></li>
                                <li><a href="https://www.facebook.com/lethanh.hai.75641"><img src="../assets/img/logo/facebook.svg"></a></li>
                                <li><a href="https://www.instagram.com/tuhaichuai/"><img src="../assets/img/logo/instagram.svg"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div >
            <!--/row-->
        </div>
    </div>
    <!-- /bg_white -->
    <div class="container margin_60_35 add_bottom_30">
        <div class="main_title">
            <h2>Giới thiệu về The Weekdays</h2>
            <p>Thương hiệu được đặt tên dựa trên sự thường nhật, đơn giản của sản phẩm mà thương hiệu muốn hướng đến,
                thời trang hàng ngày dành cho nam. </p>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <div class="box_about">
                    <h2>The Weekdays</h2>
                    <p class="lead">Đôi nét về thương hiệu</p>
                    <p><strong>The Weekdays:</strong> thương hiệu được đặt tên dựa trên sự thường nhật, đơn giản của sản
                        phẩm mà thương hiệu muốn hướng đến, thời trang hàng ngày dành cho nam. Người trẻ hiện đại (Gen
                        Z) luôn có tính cách muôn màu, phá cách và phần nào “khác lạ” so với đám đông, nhưng lại bị
                        những cái quy chuẩn xã hội khiến họ đôi khi chần chừ để bộc lộ bản sắc riêng. Họ cần một thương
                        hiệu có thể thúc đẩy và kích thích họ dám thể hiện mình. Đó là lý do để The Weekdays ra đời.
                    </p>
                    <img src="../assets/img/arrow_about.png" alt="" class="arrow_1">
                </div>
            </div>
            <div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
                <img src="../assets/img/thumbnail/aboutaa.jpg" alt="" class="img-fluid" width="350" height="268">
            </div>
        </div>
        <!-- /row -->
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
                <img src="../assets/img/thumbnail/abouthh.jpg" alt="" class="img-fluid" width="350" height="268">
            </div>
            <div class="col-lg-5">
                <div class="box_about">
                    <h2>Tầm nhìn</h2>
                    <p class="lead">Người đi đầu</p>
                    <p> The Weekdays mong muốn trở thành người đi đầu trong thời trang nam dành cho giới trẻ, đặc biệt
                        là gen Z, luôn tập trung vào khách hàng
                    </p>
                    <img src="../assets/img/arrow_about.png" alt="" class="arrow_2">
                </div>
            </div>
        </div>
        <!-- /row -->
        <div class="row justify-content-center align-items-center ">
            <div class="col-lg-5">
                <div class="box_about">
                    <h2>Sứ mệnh</h2>
                    <p class="lead">Đối với khách hàng và xã hội</p>
                    <p>
                        Đối với khách hàng, The Weekdays luôn tập trung vào chất lượng sản phẩm, sự chỉn chu trong mọi
                        khâu để giúp phái nam có được hình ảnh hoàn thiện nhất khi sử dụng sản phẩm của thương hiệu, thể
                        hiện được cá tính bản thân<br><br>
                        Đối với xã hội, thương hiệu vừa kinh doanh vừa đảm bảo mang lại thêm các giá trị cho xã hội khi
                        cung cấp các kiến thức, mẹo vặt về ăn mặc cho nam cũng như sử dụng chất liệu thân thiện môi
                        trường
                    </p>
                </div>

            </div>
            <div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
                <img src="../assets/img/thumbnail/aboutngh.jpg" alt="" class="img-fluid" width="350" height="316">
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <div class="container margin_60_35 add_bottom_30">
        <div class="main_title">
            <h2>Lời cảm ơn</h2>
            <p><strong>The Weekdays</strong> gửi lời cảm ơn chân thành founder <strong>Hiền Phương</strong> và <strong>Từ Hải</strong>.<br>
            Tuy không góp mặt trong dự án lần này nhưng hai bạn đã đặt những viên gạch đầu tiên cho The Weekdays. Love ❤️</p>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
                <img src="../assets/img/thumbnail/team5.jpg" alt="" class="img-fluid" width="700" >
            </div>
        </div>
    </div>
    <!-- /container -->



    <!-- <div class="container margin_60">
    <div class="main_title">
        <h2>Meet Allaia Staff</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
    </div>
    <div class="owl-carousel owl-theme carousel_centered">
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Julia Holmes<em>CEO</em></h4>
                </div><img src="img/staff/1_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Lucas Smith<em>Marketing</em></h4>
                </div><img src="../assets/img/staff/2_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Paul Stephens<em>Business strategist</em></h4>
                </div><img src="../assets/img/staff/3_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Pablo Himenez<em>Customer Service</em></h4>
                </div><img src="../assets/img/staff/4_carousel.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Andrew Stuttgart<em>Admissions</em></h4>
                </div><img src="../assets/img/staff/5_carousel.jpg" alt="">
            </a>
        </div>
    </div>
   
</div> -->
    <!-- /container -->
</main>