<main>
  <div class="container margin_30">
    <div class="countdown_inner">Chương trình giảm giá 20% sẽ kết thúc sau.<div data-countdown="2019/05/15"
        class="countdown"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="all">
          <div class="slider">
            <div class="owl-carousel owl-theme main">
              <!-- <div *ngFor="let img of product.image" class="item-box" style="background-image: url( {{img}} );"></div> -->
              <div
                style="background-image: url(https://i.pinimg.com/564x/92/50/11/9250112a8b880f161c723c1be309bda0.jpg);"
                class="item-box"></div>
              <div
                style="background-image: url(https://i.pinimg.com/564x/92/50/11/9250112a8b880f161c723c1be309bda0.jpg);"
                class="item-box"></div>
              <div
                style="background-image: url(https://i.pinimg.com/564x/92/50/11/9250112a8b880f161c723c1be309bda0.jpg);"
                class="item-box"></div>
              <div
                style="background-image: url(https://i.pinimg.com/564x/92/50/11/9250112a8b880f161c723c1be309bda0.jpg);"
                class="item-box"></div>
              <div
                style="background-image: url(https://i.pinimg.com/564x/92/50/11/9250112a8b880f161c723c1be309bda0.jpg);"
                class="item-box"></div>
            </div>
            <div class="left nonl"><i class="ti-angle-left"></i></div>
            <div class="right"><i class="ti-angle-right"></i></div>
          </div>
          <div class="slider-two">
            <div class="owl-carousel owl-theme thumbs">
              <!-- <div *ngFor="let img of product.image" class="item" style="background-image: url( {{img}} );"></div> -->
              <div
                style="background-image: url(https://i.pinimg.com/564x/92/50/11/9250112a8b880f161c723c1be309bda0.jpg);"
                class="item"></div>
              <div
                style="background-image: url(https://down-vn.img.susercontent.com/file/f25bfcfc4d9665352db6914822522708_tn);"
                class="item"></div>
              <div
                style="background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-7qvev-lft6o0dz9d1ff5_tn);"
                class="item"></div>
              <div
                style="background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-22110-s845pvtq4dkv39_tn);"
                class="item"></div>
              <div
                style="background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-22120-4pfc1beb8mkv64_tn);"
                class="item"></div>
            </div>
            <div class="left-t nonl-t"></div>
            <div class="right-t"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li>Page active</li>
                    </ul>
                </div> -->
        <!-- /page_header -->
        <div class="prod_info">
          <h1>{{product.name}}</h1>
          <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i
              class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i><em>40
              lượt đánh giá</em></span>
          <p><small>SKU: MTKRY-001</small><br>{{product.excerpt}}</p>
          <div class="prod_options">
            <!-- <div class="row">
              <label class="col-xl-5 col-lg-5  col-md-6 col-6 pt-0"><strong>{{ui.color}}</strong></label>
              <div class="col-xl-4 col-lg-5 col-md-6 col-6 colors">
                <ul>
                  <li><a href="#0" class="color color_1 active"></a></li>
                  <li><a href="#0" class="color color_2"></a></li>
                  <li><a href="#0" class="color color_3"></a></li>
                  <li><a href="#0" class="color color_4"></a></li>
                </ul>
              </div>
            </div> -->
            <div class="row">
              <label class="col-xl-5 col-lg-5 col-md-6 col-6"><strong>{{ui.size}}</strong> - {{ui.table_size}} <a
                  href="#0" data-toggle="modal" data-target="#size-modal" title="{{ui.table_size}}"><i
                    class="ti-help-alt"></i></a></label>
              <div class="col-xl-4 col-lg-5 col-md-6 col-6">
                <div class="custom-select-form">
                  <select class="wide" [(ngModel)]="selected_variant">
                    <option value="S" selected>Small (S)</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-xl-5 col-lg-5  col-md-6 col-6"><strong>{{ui.quantity}}</strong></label>
              <!-- <div class="col-xl-4 col-lg-5 col-md-6 col-6">
                                <div class="numbers-row">
                                    <input type="text" value="1" id="quantity_1" class="qty2" name="quantity_1">
                                </div>
                            </div> -->
              <div class="col-xl-4 col-lg-5 col-md-6 col-6">
                <div class="numbers-row">
                  <input type="text" value="{{quantity}}" id="quantity_1" class="qty2" name="quantity_1"
                    [(ngModel)]="quantity">
                  <div class="inc button_inc" (click)="increase()">+</div>
                  <div class="dec button_inc" (click)="decrease()">-</div>
                </div>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-lg-5 col-md-6">
              <div class="price_main"><span class="new_price">{{_format.formatCurrency(product.price)}}</span><span
                  class="percentage">- {{product.sale_percent}} %</span> <span
                  class="old_price">{{_format.formatCurrency(product.original_price)}}</span></div>
            </div>
            <div class="col-lg-5 col-md-6">
              <div class="btn_add_to_cart"><a
                  (click)="_productservice.addToCart(product._id, selected_variant, quantity, $event)"
                  class="btn_1">{{ui.add_to_cart}}</a></div>
            </div>
          </div>
        </div>
        <!-- /prod_info -->
        <div class="product_actions">
          <ul>
            <li>
              <a href="#"><i class="ti-heart"></i><span>{{ui.placeholder_add_to_favorite}}</span></a>
            </li>
            <!-- <li>
                            <a href="#"><i class="ti-control-shuffle"></i><span>Add to Compare</span></a>
                        </li> -->
          </ul>
        </div>
        <!-- /product_actions -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <div class="tabs_product">
    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">{{ui.description}}</a>
        </li>
        <li class="nav-item">
          <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">{{ui.rating}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /tabs_product -->
  <div class="tab_content_wrapper">
    <div class="container">
      <div class="tab-content" role="tablist">
        <div id="pane-A" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-A">
          <div class="card-header" role="tab" id="heading-A">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapse-A" aria-expanded="false"
                aria-controls="collapse-A">
                Description
              </a>
            </h5>
          </div>
          <div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
            <div class="card-body">
              <div class="row justify-content-between">
                <div class="col-lg-6">
                  <h3>{{ui.product_description | uppercase }}</h3>
                  <p>{{product.description}}</p>
                </div>
                <div class="col-lg-5">
                  <h3>{{ui.detail_product | uppercase}}</h3>
                  <div class="table-responsive">
                    <table class="table table-sm table-striped">
                      <tbody>
                        <tr>
                          <td><strong>{{ui.color}}</strong></td>
                          <td>Trắng, Đen</td>
                        </tr>
                        <tr>
                          <td><strong>{{ui.size}}</strong></td>
                          <td>S, M, L, XL, XXL</td>
                        </tr>
                        <tr>
                          <td><strong>{{ui.weight}}</strong></td>
                          <td>0.6kg</td>
                        </tr>
                        <tr>
                          <td><strong>{{ui.material}}</strong></td>
                          <td>Vải</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /table-responsive -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /TAB A -->
        <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
          <div class="card-header" role="tab" id="heading-B">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false"
                aria-controls="collapse-B">
                Reviews
              </a>
            </h5>
          </div>
          <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
            <div class="card-body">
              <div class="row justify-content-between">
                <div class="col-lg-6">
                  <div class="review_content">
                    <div class="clearfix add_bottom_10">
                      <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i
                          class="icon-star"></i><i class="icon-star"></i><em>5.0/5.0</em></span>
                      <em>Đã đăng 5 phút trước</em>
                    </div>
                    <h4>"Cực kỳ hài lòng"</h4>
                    <p>Shop đóng gói kỹ càng, cẩn thận, sản phẩm đẹp, đúng với mô tả, chất lượng tốt, đáng để mua, sau
                      sẽ tiếp tục ủng hộ shopp!</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="review_content">
                    <div class="clearfix add_bottom_10">
                      <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i
                          class="icon-star empty"></i><i class="icon-star empty"></i><em>4.0/5.0</em></span>
                      <em>Đã đăng 1 ngày trước</em>
                    </div>
                    <h4>"Được"</h4>
                    <p>Giao hàng nhanh .Mình m67 50kg mặc size L là vừa đẹp. Ao còn khá nhiều chỉ thừa chỗ cổ tay bị bục
                      chỉ nhưng không sao chấp nhận được với giá tiền, có giấy thơm các kiểu ổn nên mua nha mn</p>
                  </div>
                </div>
              </div>
              <!-- /row -->
              <div class="row justify-content-between">
                <div class="col-lg-6">
                  <div class="review_content">
                    <div class="clearfix add_bottom_10">
                      <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i
                          class="icon-star Áo chất cực xấu, bị xù, mà chất nhung tăm mà sợ rất khô, áo mặc rất nóng, bí. Cổ tay áo may cũng không đẹp. Nói chung là áo này chỉ xứng với giá 50k thôi. Mình nhận xét thẳng, shop có đọc được thì nên xem lại."></i><i
                          class="icon-star empty "></i><em>1.0/5.0</em></span>
                      <em>Đã đăng 3 ngày trước</em>
                    </div>
                    <h4>"Ý ẹ"</h4>
                    <p>Áo chất cực xấu, bị xù, mà chất nhung tăm mà sợ rất khô, áo mặc rất nóng, bí. Cổ tay áo may cũng
                      không đẹp. Nói chung là áo này chỉ xứng với giá 50k thôi. Mình nhận xét thẳng, shop có đọc được
                      thì nên xem lại.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="review_content">
                    <div class="clearfix add_bottom_10">
                      <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i
                          class="icon-star"></i><i class="icon-star"></i><em>5.0/5.0</em></span>
                      <em>Đã đăng 10 ngày trước</em>
                    </div>
                    <h4>"Ổn"</h4>
                    <p>hàng xinh lắm nên mua hơn 1 size sẽ đẹp hơn nhaa, tui đợ từ hqua tới giờ mới đc đánh giá, mặc dù
                      lúc giao hơi trục trặc nhưng hàng đẹp nên vẫn bỏ qua đc.</p>
                  </div>
                </div>
              </div>
              <!-- /row -->
              <div class="row justify-content-left">
                <div class="col-lg-8">
                  <div class="write_review">
                    <div class="rating_submit">
                      <div class="form-group">
                        <label class="d-block">{{ui.product_quality}}</label>
                        <span class="rating mb-0">
                          <input type="radio" class="rating-input" id="5_star" name="rating-input"
                            value="5 Stars"><label for="5_star" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="4_star" name="rating-input"
                            value="4 Stars"><label for="4_star" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="3_star" name="rating-input"
                            value="3 Stars"><label for="3_star" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="2_star" name="rating-input"
                            value="2 Stars"><label for="2_star" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="1_star" name="rating-input" value="1 Star"><label
                            for="1_star" class="rating-star"></label>
                        </span>
                      </div>
                    </div>
                    <!-- /rating_submit -->
                    <div class="form-group">
                      <label>{{ui.title}}</label>
                      <input class="form-control" type="text" placeholder="Thêm tiêu đề cho đánh giá của bạn">
                    </div>
                    <div class="form-group">
                      <label>{{ui.your_review}}</label>
                      <textarea class="form-control" style="height: 180px;"
                        placeholder="Những đánh giá của bạn sẽ là bài học cho chúng tôi"></textarea>
                    </div>
                    <div class="form-group">
                      <label>{{ui.add_image}}</label>
                      <div class="fileupload"><input type="file" name="fileupload" accept="image/*"></div>
                    </div>
                    <a href="confirm.html" class="btn_1">{{ui.submit_your_review}}</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /card-body -->
          </div>
        </div>
        <!-- /tab B -->
      </div>
      <!-- /tab-content -->
    </div>
    <!-- /container -->
  </div>
  <!-- /tab_content_wrapper -->

  <div class="container margin_60_35">
    <div class="main_title">
      <h2>{{ui.product_suggestion}}</h2>
      <span>{{ui.product_suggestion}}</span>
      <p>{{ui.product_suggestion_description}}
      </p>
    </div>
    <div class="container margin_60_35">

      <div class="row small-gutters">
        <div class="col-6 col-md-4 col-xl-3" *ngFor="let rc_product of recommend_products"
          [routerLink]="['/product/',rc_product._id]">
          <div class="grid_item">
            <figure style="height: 20em; width: 20em;">
              <!-- <span *ngIf="rc_product.sale_percent > 0" class="ribbon off">- {{rc_product.sale_percent}} %</span>
              <a class="photo">
                <img class="img-fluid lazy" src="{{ rc_product.image }}" alt="">
                <img class="img-fluid lazy"
                  src="https://i.pinimg.com/564x/e0/e3/32/e0e3327d4d038dda1696619de128e0e2.jpg" alt="">
              </a> -->
              <!-- <div data-countdown="2019/05/15" class="countdown"></div> -->

              <span *ngIf="rc_product.sale_percent > 0" class="ribbon off">- {{rc_product.sale_percent}} %</span>
              <a >
                <img class="img-fluid lazy" src="{{ rc_product.image }}" alt="">
                <img class="img-fluid lazy"
                  src="https://i.pinimg.com/564x/e0/e3/32/e0e3327d4d038dda1696619de128e0e2.jpg" alt="" >
              </a>
            </figure>
            <div class="rating">
              <i *ngFor="let star of [].constructor(rc_product.floorRating())" class="icon-star voted"></i>
              <i *ngFor="let star of [].constructor(5 - rc_product.floorRating())" class="icon-star"></i>
            </div>
            <a>
              <h3>{{rc_product.name}}</h3>
            </a>
            <div class="price_box">
              <span class="new_price">{{_format.formatCurrency(rc_product.price)}}</span>
              <span class="old_price">{{_format.formatCurrency(rc_product.original_price)}}</span>
            </div>
            <ul>
              <li><a [routerLink]="['/product/', rc_product._id]" class="tooltip-1" data-toggle="tooltip"
                  data-placement="left" title="{{ui.placeholder_add_to_favorite}}"><i
                    class="ti-heart"></i><span>{{ui.placeholder_add_to_favorite}}</span></a></li>
              <!-- <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li> -->
              <li>
                <a (click)="_productservice.addToCart(rc_product._id, 'S', 1, $event)" class="tooltip-1"
                  data-toggle="tooltip" data-placement="left" title="{{ui.add_to_cart}}">
                  <i class="ti-shopping-cart"></i>
                  <span>{{ui.add_to_cart}}</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- /grid_item -->
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /container -->

  <div class="feat">
    <div class="container">
      <ul>
        <li>
          <div class="box">
            <i class="ti-gift"></i>
            <div class="justify-content-center">
              <h3>{{ui.freeship}}</h3>
              <p>{{ui.freeship_condition_description}}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="box">
            <i class="ti-wallet"></i>
            <div class="justify-content-center">
              <h3>{{ui.checkout_conviniently}}</h3>
              <p>{{ui.checkout_conviniently_description}}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="box">
            <i class="ti-headphone-alt"></i>
            <div class="justify-content-center">
              <h3>{{ui.support_247}}</h3>
              <p>{{ui.support_247_description}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--/feat-->

</main>
<!-- /main -->