<main>
    <div class="container margin_30">
        <div class="countdown_inner">Chương trình giảm giá 20% sẽ kết thúc sau <div data-countdown="2019/05/15" class="countdown"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="all">
                    <div class="slider">
                        <div class="owl-carousel owl-theme main">
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/63a10a77e768f1ca41d792b2488c5860_tn);"
                                class="item-box"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/cn-11134207-7qukw-lf4v2v7ws10pba_tn);"
                                class="item-box"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/f25bfcfc4d9665352db6914822522708_tn);"
                                class="item-box"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-7qvev-lft6o0dz9d1ff5_tn);"
                                class="item-box"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-22110-s845pvtq4dkv39_tn);"
                                class="item-box"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-22120-4pfc1beb8mkv64_tn);"
                                class="item-box"></div>
                        </div>
                        <div class="left nonl"><i class="ti-angle-left"></i></div>
                        <div class="right"><i class="ti-angle-right"></i></div>
                    </div>
                    <div class="slider-two">
                        <div class="owl-carousel owl-theme thumbs">
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/63a10a77e768f1ca41d792b2488c5860_tn);"
                                class="item active"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/cn-11134207-7qukw-lf4v2v7ws10pba_tn);"
                                class="item"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/f25bfcfc4d9665352db6914822522708_tn);"
                                class="item"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-7qvev-lft6o0dz9d1ff5_tn);"
                                class="item"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-22110-s845pvtq4dkv39_tn);"
                                class="item"></div>
                            <div style="background-image: url(https://down-vn.img.susercontent.com/file/sg-11134201-22120-4pfc1beb8mkv64_tn);"
                                class="item"></div>
                        </div>
                        <div class="left-t nonl-t"></div>
                        <div class="right-t"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li>Page active</li>
                    </ul>
                </div> -->
                <!-- /page_header -->
                <div class="prod_info">
                    <h1>Áo phông thun Phiền 'Nhiều"</h1>
                    <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                            class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i><em>40
                            lượt đánh giá</em></span>
                    <p><small>SKU: MTKRY-001</small><br>Gọi là Chê Track, vì trước đây tôi vẫn thường xuyên nghe những
                        lời chê trách như những bài ca mỗi ngày. Tất nhiên chẳng dễ chịu gì. Và thú thật, hồi đó tôi vẫn
                        âm thầm “mặc kệ chê trách” trong thâm tâm mình.</p>
                    <div class="prod_options">
                        <div class="row">
                            <label class="col-xl-5 col-lg-5  col-md-6 col-6 pt-0"><strong>Màu sắc</strong></label>
                            <div class="col-xl-4 col-lg-5 col-md-6 col-6 colors">
                                <ul>
                                    <li><a href="#0" class="color color_1 active"></a></li>
                                    <li><a href="#0" class="color color_2"></a></li>
                                    <li><a href="#0" class="color color_3"></a></li>
                                    <li><a href="#0" class="color color_4"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-xl-5 col-lg-5 col-md-6 col-6"><strong>Kích cỡ</strong> - Bảng kích cỡ <a
                                    href="#0" data-toggle="modal" data-target="#size-modal"><i
                                        class="ti-help-alt"></i></a></label>
                            <div class="col-xl-4 col-lg-5 col-md-6 col-6">
                                <div class="custom-select-form">
                                    <select class="wide">
                                        <option value="" selected>Small (S)</option>
                                        <option value="">M</option>
                                        <option value=" ">L</option>
                                        <option value=" ">XL</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-xl-5 col-lg-5  col-md-6 col-6"><strong>Số lượng</strong></label>
                            <!-- <div class="col-xl-4 col-lg-5 col-md-6 col-6">
                                <div class="numbers-row">
                                    <input type="text" value="1" id="quantity_1" class="qty2" name="quantity_1">
                                </div>
                            </div> -->
                            <div class="col-xl-4 col-lg-5 col-md-6 col-6">
                                <div class="numbers-row">
                                    <input type="text" value="1" id="quantity_1" class="qty2" name="quantity_1">
                                    <div class="inc button_inc">+</div>
                                    <div class="dec button_inc">-</div>
                                </div>
                            </div>
                          
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="price_main"><span class="new_price">₫200.000</span><span
                                    class="percentage">-20%</span> <span class="old_price">₫250.000</span></div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="btn_add_to_cart"><a href="#0" class="btn_1">Thêm vào giỏ hàng</a></div>
                        </div>
                    </div>
                </div>
                <!-- /prod_info -->
                <div class="product_actions">
                    <ul>
                        <li>
                            <a href="#"><i class="ti-heart"></i><span>Thích quá rùi nà</span></a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="ti-control-shuffle"></i><span>Add to Compare</span></a>
                        </li> -->
                    </ul>
                </div>
                <!-- /product_actions -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

    <div class="tabs_product">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Mô tả</a>
                </li>
                <li class="nav-item">
                    <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Đánh giá</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /tabs_product -->
    <div class="tab_content_wrapper">
        <div class="container">
            <div class="tab-content" role="tablist">
                <div id="pane-A" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-A">
                    <div class="card-header" role="tab" id="heading-A">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapse-A" aria-expanded="false"
                                aria-controls="collapse-A">
                                Description
                            </a>
                        </h5>
                    </div>
                    <div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-lg-6">
                                    <h3>MÔ TẢ SẢN PHẨM</h3>
                                    <p>Gọi là Chê Track, vì trước đây tôi vẫn thường xuyên nghe những lời chê trách như những bài ca mỗi ngày. <strong>Tất nhiên chẳng dễ chịu gì</strong> và thú thật, hồi đó tôi vẫn âm thầm “mặc kệ chê trách” trong thâm tâm mình.</p>
                                  
                                </div>
                                <div class="col-lg-5">
                                    <h3>CHI TIẾT SẢN PHẨM</h3>
                                    <div class="table-responsive">
                                        <table class="table table-sm table-striped">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Màu sắc</strong></td>
                                                    <td>Trắng, Đen</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Kích cỡ</strong></td>
                                                    <td>150x100x100</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Trọng lượng</strong></td>
                                                    <td>0.6kg</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Chất liệu</strong></td>
                                                    <td>Vải</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /table-responsive -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /TAB A -->
                <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                    <div class="card-header" role="tab" id="heading-B">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false"
                                aria-controls="collapse-B">
                                Reviews
                            </a>
                        </h5>
                    </div>
                    <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-lg-6">
                                    <div class="review_content">
                                        <div class="clearfix add_bottom_10">
                                            <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i
                                                    class="icon-star"></i><i class="icon-star"></i><i
                                                    class="icon-star"></i><em>5.0/5.0</em></span>
                                            <em>Đã đăng 5 phút trước</em>
                                        </div>
                                        <h4>"Cực kỳ hài lòng"</h4>
                                        <p>Shop đóng gói kỹ càng, cẩn thận, sản phẩm đẹp, đúng với mô tả, chất lượng tốt, đáng để mua, sau sẽ tiếp tục ủng hộ shopp!</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="review_content">
                                        <div class="clearfix add_bottom_10">
                                            <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i
                                                    class="icon-star"></i><i class="icon-star empty"></i><i
                                                    class="icon-star empty"></i><em>4.0/5.0</em></span>
                                            <em>Đã đăng 1 ngày trước</em>
                                        </div>
                                        <h4>"Được"</h4>
                                        <p>Giao hàng nhanh .Mình m67 50kg mặc size L là vừa đẹp. Ao còn khá nhiều chỉ thừa chỗ cổ tay bị bục chỉ nhưng không sao chấp nhận được với giá tiền, có giấy thơm các kiểu ổn nên mua nha mn</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /row -->
                            <div class="row justify-content-between">
                                <div class="col-lg-6">
                                    <div class="review_content">
                                        <div class="clearfix add_bottom_10">
                                            <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i
                                                    class="icon-star"></i><i class="icon-star Áo chất cực xấu, bị xù, mà chất nhung tăm mà sợ rất khô, áo mặc rất nóng, bí. Cổ tay áo may cũng không đẹp. Nói chung là áo này chỉ xứng với giá 50k thôi. Mình nhận xét thẳng, shop có đọc được thì nên xem lại."></i><i
                                                    class="icon-star empty "></i><em>1.0/5.0</em></span>
                                            <em>Đã đăng 3 ngày trước</em>
                                        </div>
                                        <h4>"Ý ẹ"</h4>
                                        <p>Áo chất cực xấu, bị xù, mà chất nhung tăm mà sợ rất khô, áo mặc rất nóng, bí. Cổ tay áo may cũng không đẹp. Nói chung là áo này chỉ xứng với giá 50k thôi. Mình nhận xét thẳng, shop có đọc được thì nên xem lại.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="review_content">
                                        <div class="clearfix add_bottom_10">
                                            <span class="rating"><i class="icon-star"></i><i class="icon-star"></i><i
                                                    class="icon-star"></i><i class="icon-star"></i><i
                                                    class="icon-star"></i><em>5.0/5.0</em></span>
                                            <em>Đã đăng 10 ngày trước</em>
                                        </div>
                                        <h4>"Ổn"</h4>
                                        <p>hàng xinh lắm nên mua hơn 1 size sẽ đẹp hơn nhaa, tui đợ từ hqua tới giờ mới đc đánh giá, mặc dù lúc giao hơi trục trặc nhưng hàng đẹp nên vẫn bỏ qua đc.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /row -->
                            <p class="text-right"><a href="leave-review.html" class="btn_1">Gửi đánh giá</a></p>
                        </div>
                        <!-- /card-body -->
                    </div>
                </div>
                <!-- /tab B -->
            </div>
            <!-- /tab-content -->
        </div>
        <!-- /container -->
    </div>
    <!-- /tab_content_wrapper -->

    <div class="container margin_60_35">
        <div class="main_title">
            <h2>Gợi ý phối đồ từ The Weekdays</h2>
            <span>Gợi ý phối đồ từ The Weekdays</span>
            <p>Nhận ngay những gợi ý phối đồ thời trang sành điệu từ The Weekdays để tạo nên phong cách cá tính và độc đáo.</p>
        </div>
        <div class="container margin_60_35">
            
            <div class="row small-gutters">
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="grid_item">
                        <figure>
                            <span class="ribbon off">-30%</span>
                            <a href="product-detail-1.html">
                                <img class="img-fluid lazy" src="https://down-vn.img.susercontent.com/file/63a10a77e768f1ca41d792b2488c5860_tn" alt="">
                                <img class="img-fluid lazy" src="https://down-vn.img.susercontent.com/file/cn-11134207-7qukw-lf4v2v7ws10pba_tn" data-src="assets/img/products/shoes/1_b.jpg" alt="">
                            </a>
                            <div data-countdown="2019/05/15" class="countdown"></div>
                        </figure>
                        <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                        <a href="product-detail-1.html">
                            <h3>Áo phông thun Phiền "Nhiễu"</h3>
                        </a>
                        <div class="price_box">
                            <span class="new_price">₫329.000</span>
                            <span class="old_price">₫330.000</span>
                        </div>
                        <ul>
                            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thích quá rùi nà"><i class="ti-heart"></i><span>Thích quá rùi nà</span></a></li>
                            <!-- <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li> -->
                            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào giỏ hàng"><i class="ti-shopping-cart"></i><span>Thêm vào giỏ hàng</span></a></li>
                        </ul>
                    </div>
                    <!-- /grid_item -->
                </div>
                <!-- /col -->
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="grid_item">
                        <span class="ribbon off">-30%</span>
                        <figure>
                            <a href="product-detail-1.html">
                                <img class="img-fluid lazy" src="https://down-vn.img.susercontent.com/file/f25bfcfc4d9665352db6914822522708_tn" alt="">
                                <img class="img-fluid lazy" src="https://down-vn.img.susercontent.com/file/sg-11134201-7qvev-lft6o0dz9d1ff5_tn" data-src="img/products/shoes/2_b.jpg" alt="">
                            </a>
                            <div data-countdown="2019/05/10" class="countdown"></div>
                        </figure>
                        <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                        <a href="product-detail-1.html">
                            <h3>Áo phông thun Sáng "Sủa"</h3>
                        </a>
                        <div class="price_box">
                            <span class="new_price">₫200.000</span>
                            <span class="old_price">₫250.000</span>
                        </div>
                        <ul>
                            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thích quá rùi nà"><i class="ti-heart"></i><span>Thích quá rùi nà</span></a></li>
                            <!-- <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li> -->
                            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào giỏ hàng"><i class="ti-shopping-cart"></i><span>Thêm vào giỏ hàng</span></a></li>
                        </ul>
                    </div>
                    <!-- /grid_item -->
                </div>
                <!-- /col -->
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="grid_item">
                        <span class="ribbon off">-50%</span>
                        <figure>
                            <a href="product-detail-1.html">
                                <img class="img-fluid lazy" src="https://down-vn.img.susercontent.com/file/c09e4f106f6f23d290c98dcdaa7c0cbe_tn" alt="">
                                <img class="img-fluid lazy" src="https://down-vn.img.susercontent.com/file/60f0f010d976eae7349ad4c6d5fc1fa3_tn" alt="">
                            </a>
                            <div data-countdown="2019/05/21" class="countdown"></div>
                        </figure>
                        <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                        <a href="product-detail-1.html">
                            <h3>Áo phông thun Ngang "Ngược"</h3>
                        </a>
                        <div class="price_box">
                            <span class="new_price">₫200.000</span>
                            <span class="old_price">₫270.000</span>
                        </div>
                        <ul>
                            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thích quá rùi nà"><i class="ti-heart"></i><span>Thích quá rùi nà</span></a></li>
                            <!-- <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li> -->
                            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào giỏ hàng"><i class="ti-shopping-cart"></i><span>Thêm vào giỏ hàng</span></a></li>
                        </ul>
                    </div>
                    <!-- /grid_item -->
                </div>
                <!-- /col -->
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="grid_item">
                        <span class="ribbon new">Mới</span>
                        <figure>
                            <a href="product-detail-1.html">
                                <img class="img-fluid lazy" src="https://down-vn.img.susercontent.com/file/f3322064cebb49adc742452ca249ccc9_tn" alt="">
                                <img class="img-fluid lazy" src="https://down-vn.img.susercontent.com/file/8931c6ec85d7520e509e92d74b890bb5_tn" alt="">
                            </a>
                        </figure>
                        <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                        <a href="product-detail-1.html">
                            <h3>Áo phông thun Chê "Track"</h3>
                        </a>
                        <div class="price_box">
                            <span class="new_price">₫200.000</span>
                        </div>
                        <ul>
                            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thích quá rùi nà"><i class="ti-heart"></i><span>Thích quá rùi nà</span></a></li>
                            <!-- <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li> -->
                            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào giỏ hàng"><i class="ti-shopping-cart"></i><span>Thêm vào giỏ hàng</span></a></li>
                        </ul>
                    </div>
                    <!-- /grid_item -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /container -->

    <div class="feat">
        <div class="container">
            <ul>
                <li>
                    <div class="box">
                        <i class="ti-gift"></i>
                        <div class="justify-content-center">
                            <h3>Miễn Phí Vận Chuyển</h3>
                            <p>Cho đơn hàng từ 300.000VND</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <i class="ti-wallet"></i>
                        <div class="justify-content-center">
                            <h3>Thanh toán tiện lợi</h3>
                            <p>100% Thanh toán bảo mật</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <i class="ti-headphone-alt"></i>
                        <div class="justify-content-center">
                            <h3>Hỗ trợ 24/7</h3>
                            <p>Chăm sóc tận tình</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--/feat-->

</main>
<!-- /main -->