<main class="bg_gray">
  <div class="container margin_30">
    <div class="page_header">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Order</a></li>
          <li>Order detail</li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row mb-3">
        <div class="col" style="max-width: 15%; min-width: 200px;">
          <p style="margin-top: 10px; font-size: 16px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
            Thông tin tài khoản
          </p>
          <p style="font-size: 16px; color: red;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-box-arrow-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
              <path fill-rule="evenodd"
                d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
            </svg>
            Đăng xuất
          </p>
        </div>
        <div class="col" style="width: 80%;">
          <h4 style="margin-top: 10px;">5614vrw5g15eqg15evf</h4>
          <div class="row mb-3 align-items-start" style="margin: auto; width: 100%;">
            <div class="col-4 card"
              style="min-width: 300px; max-width: 31%; padding-top: 10px;padding-bottom: 10px; margin-top: 10px; margin-left: auto; margin-right: auto;">
              <h5>Order info</h5>
              <table>
                <tr>
                  <th class="left">Order date</th>
                  <td>21-12-2012</td>
                </tr>
                <tr>
                  <th class="left">Total</th>
                  <td>550000</td>
                </tr>
                <tr>
                  <th class="left">Payment</th>
                  <td>Momo<small class="paid">Paid</small></td>
                </tr>
              </table>
            </div>
            <div class="col-4 card"
              style="min-width: 300px; max-width: 31%; padding-top: 10px;padding-bottom: 10px;margin-top: 10px; margin-left: auto; margin-right: auto;">
              <h5>Receiver</h5>
              <table>
                <tr>
                  <th class="left">Name</th>
                  <td>Obama</td>
                </tr>
                <tr>
                  <th class="left">Address</th>
                  <td>White house</td>
                </tr>
                <tr>
                  <th class="left">Phone</th>
                  <td>5555555555</td>
                </tr>
              </table>
            </div>
            <div class="col-4 card"
              style="min-width: 300px; max-width: 33%; padding-top: 10px; padding-bottom: 10px;margin-top: 10px; margin-left: auto; margin-right: auto;">
              <h5>Shipping</h5>
              <table>
                <tr>
                  <th class="left">Method</th>
                  <td>Crab</td>
                </tr>
                <tr>
                  <th class="left">Cost</th>
                  <td>500000</td>
                </tr>
                <tr>
                  <th class="left">Status</th>
                  <td>
                    <div class="delivering">Delivering</div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card"
            style="min-width: 300px; max-width: 100%; padding: 15px; padding-left: 30px; margin-left: auto; margin-right: auto; margin-bottom: 20px; margin-top: 10px;">
            <h5>Progress</h5>
            <br>
            <div>
              <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg> Delivered 10/5/2023
              </div><br>
              <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg> Delivered 10/5/2023
              </div><br>
              <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg> Delivered 10/5/2023
              </div><br>

            </div>
          </div>

          <div class="order-card" [routerLink]="['/order/id']">
            <!--Status-->
            <h5>Product list</h5>
            <!--/Status-->

            <div class="d-flex position-relative mb-0">
              <img src="{{src}}" style="width: 100px; height: 100px;object-fit: cover;" class="flex-shrink-0 me-3"
                alt="...">
              <div>
                <h5 class="mt-0 me-3">Đây là một cái tên sản phẩm rất dài để cái card trông như đang được thiết kế một
                  cách
                  thông
                  minh (về mặt diện tích)</h5>
                <p class="info">Size: XL</p>
                <p class="info">Số lượng: x2</p>
              </div>
              <div>
                <p class="orginal-price" style="text-decoration: line-through;">20.000.000VND</p>
                <p>20.000.000VND</p>
              </div>
            </div>
            <hr>
            <div class="d-flex position-relative mb-0">
              <img src="{{src}}" style="width: 100px; height: 100px;object-fit: cover;" class="flex-shrink-0 me-3"
                alt="...">
              <div>
                <h5 class="mt-0 me-3">Đây là một cái tên sản phẩm rất dài để cái card trông như đang được thiết kế một
                  cách
                  thông
                  minh (về mặt diện tích)</h5>
                <p class="info">Size: XL</p>
                <p class="info">Số lượng: x2</p>
              </div>
              <div>
                <p class="orginal-price" style="text-decoration: line-through;">20.000.000VND</p>
                <p>20.000.000VND</p>
              </div>
            </div>
            <hr>
            <div class="row position-relative" style="height: 30px; padding: 0px; margin: 0px;">
              <p class="total position-absolute top-0 end-0" style="width: fit-content;">Thành tiền: 40000000</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
