<main class="bg_gray">
  <div class="container margin_30">
    <div class="page_header">
      <!-- <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li>Page active</li>
            </ul>
        </div> -->
      <h1>{{ui.cart}}</h1>
    </div>
    <!-- /page_header -->
    <table class="table table-striped cart-list">
      <thead>
        <tr>
          <th>
            {{ui.product}}
          </th>
          <th>
            {{ui.price}}
          </th>
          <th>
            {{ui.quantity}}
          </th>
          <th>
            {{ui.size}}
          </th>
          <th>
            {{ui.sub_total}}
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of _cartservice.products_in_cart, let i = index">
          <td>
            <div class="thumb_cart" style="height: 10em; width: 10em;" >
              <img [routerLink]="['/product/',p._id]" src="{{p.image}}" data-src="../assets/img/thumbnail/casual.png" class="lazy"
                alt="Image" style="height: 10em; width: 10em; cursor: pointer;">
            </div>
            <span class="item_cart" style="text-align: left; font-size: large;">{{p.name}}</span>
          </td>
          <td>
            <strong>{{_format.formatCurrency(p.price)}}</strong>
          </td>
          <td>
            <div class="numbers-row">
              <input type="text" [(ngModel)]="p.quantity" id="quantity_1" class="qty2" name="quantity_1" (ngModelChange)="_cartservice.changeQuantity(i)" >
              <div class="inc button_inc" (click)="_cartservice.increaseQuantity(i)">+</div>
              <div class="dec button_inc" (click)="_cartservice.decreaseQuantity(i)">-</div>
            </div>
          </td>
          <td>
            <select class="form-control" name="size" [(ngModel)]="p.variants" (ngModelChange)="_cartservice.updateCartLocal()">
              <option value="{{p.variants}}" selected disabled>{{p.variants}}</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="XL">XL</option>
            </select>
          </td>
          <td>
            <strong>{{_format.formatCurrency(p.subtotal)}}</strong>
          </td>
          <td class="options">
            <a (click)="_cartservice.removeProduct(i)" style="cursor: pointer;"><i class="ti-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row add_top_30 flex-sm-row-reverse cart_actions">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn_1 gray">{{ui.update_cart}}</button>
      </div>
      <div class="col-sm-8">
        <div class="apply-coupon">
          <div class="form-group form-inline">
            <input type="text" name="coupon-code" value="" placeholder="Nhập mã giảm giá" class="form-control"><button
              type="button" class="btn_1 outline">{{ui.apply}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /cart_actions -->

  </div>
  <!-- /container -->

  <div class="box_cart">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <ul>
            <li>
              <span>{{ui.total}}</span> {{_format.formatCurrency(_cartservice.getTotal())}}
            </li>
            <li>
              <span>{{ui.delivery_fee}}</span> {{_format.formatCurrency(_cartservice.delivery_fee)}}
            </li>
            <li>
              <span>{{ui.final_total}}</span> {{_format.formatCurrency(_cartservice.getFinalTotal())}}
            </li>
          </ul>
          <a href="cart-2.html" class="btn_1 full-width cart">{{ui.place_order}}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /box_cart -->

  <div class="container margin_30">
    <div class="page_header">
      <!-- <div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
		</div> -->
      <h1>Thanh toán </h1>

    </div>
    <!-- /page_header -->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="step first">
          <h3>1. Thông tin khách hàng</h3>
          <div class="tab-content checkout">
            <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="tab_1">
              <div class="row no-gutters">
                <div class="col-6 form-group pr-1">
                  <input type="text" class="form-control" placeholder="Họ">
                </div>
                <div class="col-6 form-group pl-1">
                  <input type="text" class="form-control" placeholder="Tên">
                </div>
              </div>
              <!-- /row -->
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Địa chỉ">
              </div>

              <!-- /row -->
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Số điện thoại">
              </div>
              <hr>
            </div>
            <!-- /tab_1 -->

          </div>
        </div>
        <!-- /step -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="step middle payments">
          <h3>2. Phương thức thanh toán và vận chuyển</h3>
          <ul>
            <li>
              <label class="container_radio">Thẻ tín dụng/Ghi nợ<a href="#0" class="info" data-toggle="modal"
                  data-target="#payments_method"></a>
                <input type="radio" name="payment" checked>
                <span class="checkmark"></span>
              </label>
            </li>
            <li>
              <label class="container_radio">Ví Momo<a href="#0" class="info" data-toggle="modal"
                  data-target="#payments_method"></a>
                <input type="radio" name="payment">
                <span class="checkmark"></span>
              </label>
            </li>
            <li>
              <label class="container_radio">Thanh toán tiền mặt khi nhận hàng<a href="#0" class="info"
                  data-toggle="modal" data-target="#payments_method"></a>
                <input type="radio" name="payment">
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
          <div class="payment_info d-none d-sm-block">
            <figure><img src="../assets/img/cards_all.svg" alt=""></figure>
          </div>

          <h6 class="pb-2">Phương thức vận chuyển</h6>


          <ul>
            <li>
              <label class="container_radio">Giao hàng tiêu chuẩn<a href="#0" class="info" data-toggle="modal"
                  data-target="#payments_method"></a>
                <input type="radio" name="shipping" checked>
                <span class="checkmark"></span>
              </label>
            </li>
            <li>
              <label class="container_radio">Giao hàng nhanh<a href="#0" class="info" data-toggle="modal"
                  data-target="#payments_method"></a>
                <input type="radio" name="shipping">
                <span class="checkmark"></span>
              </label>
            </li>

          </ul>

        </div>
        <!-- /step -->

      </div>
      <div class="col-lg-4 col-md-6">
        <div class="step last">
          <h3>3. Đơn hàng</h3>
          <div class="box_general summary">
            <ul>
              <li class="clearfix"><em>Áo phông Phiền Nhiễu</em> <span>₫140.000</span></li>
            </ul>
            <ul>
              <li class="clearfix"><em><strong>Tổng tiền hàng</strong></em> <span>₫140.000</span></li>
              <li class="clearfix"><em><strong>Phí vận chuyển</strong></em> <span>₫10.000</span></li>

            </ul>
            <div class="total clearfix">TỔNG THANH TOÁN <span>₫150.00</span></div>
            <div class="form-group">
              <label class="container_check">Đồng ý theo Điều khoản TheWeekdays
                <input type="checkbox" checked>
                <span class="checkmark"></span>
              </label>
            </div>

            <a href="confirm.html" class="btn_1 full-width" [routerLink]="['/confirmorder']">Đặt hàng</a>
          </div>
          <!-- /box_general -->
        </div>
        <!-- /step -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

</main>
<!--/main-->
