
<!DOCTYPE html>
<html lang="en">
<body>
    <div id="page">
        <app-header></app-header>
        <!-- /header -->
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <!--/footer-->
    </div>
    <!-- page -->
    <div id="toTop"></div><!-- Back to top button -->
</body>
<div class="popup_wrapper">
    <div class="popup_content">
        <span class="popup_close">Đóng</span>
        <a [routerLink]="['/listrow']"><img class="img-fluid" src="../assets/img/banner_popup.png" alt="" width="500" height="500"></a>
    </div>
</div>

</html>