<main>
  <div class="header-video">
    <div id="hero_video">
      <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
        <div class="container">
          <div class="row justify-content-center justify-content-md-start">
            <div class="col-lg-6">
              <div class="slide-text white">
                <h3>Bộ sưu tập<br>ENGLAND 199x</h3>
                <p>Bộ sưu tập "ENGLAND 199x" được lấy cảm hứng từ thập niên 70-80, với một phong cách thời trang retro
                  đầy màu sắc.</p>
                <a class="btn_1" href="lookbook?collection=645d9fba3b1b12bc4aeca693&index=0" role="button">Mua Ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <video class="header-video--media" data-provider="" data-video-width="1920" data-video-height="960" autoplay loop
      muted>
      <source src="../assets/video/introo.webm" type="video/webm">
    </video>
  </div>



  <!-- /header-video -->

  <div class="feat">
    <div class="container">
      <ul>
        <li>
          <div class="box">
            <i class="ti-gift"></i>
            <div class="justify-content-center">
              <h3>Miễn Phí Vận Chuyển</h3>
              <p>Cho đơn hàng từ 300.000VND</p>
            </div>
          </div>
        </li>
        <li>
          <div class="box">
            <i class="ti-wallet"></i>
            <div class="justify-content-center">
              <h3>Thanh toán tiện lợi</h3>
              <p>100% Thanh toán bảo mật</p>
            </div>
          </div>
        </li>
        <li>
          <div class="box">
            <i class="ti-headphone-alt"></i>
            <div class="justify-content-center">
              <h3>Hỗ trợ 24/7</h3>
              <p>Chăm sóc tận tình</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--/3 tính năng-->

  <div class="container margin_60_35">
    <div class="row small-gutters categories_grid">
      <div class="col-sm-12 col-md-6">
        <a href="collection">
          <img src="../assets/img/thumbnail/minimalist.png" alt="" class="img-fluid lazy">
          <div class="wrapper">
            <h2>Minimalist</h2>
            <p>&nbsp;</p>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row small-gutters mt-md-0 mt-sm-2">
          <div class="col-sm-6">
            <a href="collection">
              <img src="../assets/img/thumbnail/urbanstreet.png" data-src="assets/img/img_cat_home_2.jpg" alt=""
                class="img-fluid lazy">
              <div class="wrapper">
                <h2>Urban Street</h2>
                <p>&nbsp;</p>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="collection">
              <img src="assets/img/thumbnail/casual.png" data-src="assets/img/img_cat_home_3.jpg" alt=""
                class="img-fluid lazy">
              <div class="wrapper">
                <h2>Casual Wear</h2>
                <p>&nbsp;</p>
              </div>
            </a>
          </div>
          <div class="col-sm-12 mt-sm-2">
            <a href="collection">
              <img src="assets/img/thumbnail/vintage.png" data-src="assets/img/img_cat_home_4.jpg" alt=""
                class="img-fluid lazy">
              <div class="wrapper">
                <h2>Vintage</h2>
                <p>&nbsp;</p>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
    <!--/categories_grid-->
  </div>
  <!-- /4 style-->



  <ul id="banners_grid" class="clearfix">
    <li>
      <a href="product/645d9e23bb6797d534687bcc" class="img_container">
        <img src="../assets/img/thumbnail/minimalist.png" data-src="img/banner_1.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
          <h3>Thời thượng</h3>
          <div><span class="btn_1">Mua Ngay</span></div>
        </div>
      </a>
    </li>
    <li>
      <a href="product/645d9cefbb6797d534687bcb" class="img_container">
        <img src="../assets/img/thumbnail/casual.png" data-src="img/banner_2.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
          <h3>Tối giản</h3>
          <div><span class="btn_1">Mua ngay</span></div>
        </div>
      </a>
    </li>
    <li>
      <a href="product/645d9b7bbb6797d534687bc9" class="img_container">
        <img src="../assets/img/thumbnail/urbanstreet.png" data-src="img/banner_3.jpg" alt="" class="lazy">
        <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
          <h3>Chất lượng</h3>
          <div><span class="btn_1">Mua ngay</span></div>
        </div>
      </a>
    </li>
  </ul>
  <!--/3 cục Mua ngay -->
  <hr class="mb-0">

  <div id="hot" class="container margin_60_35">
    <div class="main_title">
      <h2>Sản phẩm bán chạy</h2>
      <span>Mua lẹ đi hết hàng bây giờ</span>
      <p>Thôi rồi! Những thứ này có thể khiến bạn trông như một chàng trai hoàn hảo</p>
    </div>
    <div class="row small-gutters" >
      <div class="col-6 col-md-4 col-xl-3"*ngFor="let p of product_slides">
        <div class="grid_item">
          <figure>
            <span class="ribbon off">- {{p.sale_percent}} %</span>
            <a [routerLink]="['/product/',p._id]">
              <img class="img-fluid lazy"
                src="{{p.image}}" alt=""
                style="object-fit: cover; height: 20em; width: 20em;">
              <img class="img-fluid lazy"
                src="{{ui.img_behind}}"
                 alt="">
            </a>
            <!-- <div data-countdown="2019/05/15" class="countdown"></div> -->
          </figure>
          <div class="rating">
            <i *ngFor="let star of [].constructor(p.floorRating())" class="icon-star voted"></i>
            <i *ngFor="let star of [].constructor(5 - p.floorRating())" class="icon-star"></i>
          </div>
          <a  [routerLink]="['/product/',p._id]">
            <h3>{{p.name}}</h3>
          </a>
          <div class="price_box">
            <span class="new_price">{{_format.formatCurrency(p.price)}}</span>
            <span class="old_price">{{_format.formatCurrency(p.original_price)}}</span>
          </div>
          <ul>
            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thích quá rùi nà"><i
                  class="ti-heart"></i><span>Thích quá rùi nà</span></a></li>
            <!-- <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li> -->
            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào giỏ hàng"><i
                  class="ti-shopping-cart"></i><span>Thêm vào giỏ hàng</span></a></li>
          </ul>
        </div>
        <!-- /grid_item -->
      </div>
      <!-- /col -->

      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /bán chạy -->

  <div class="featured lazy" style="background-image: url('../assets/img/thumbnail/vintage.png')">
    <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
      <div class="container margin_60">
        <div class="row justify-content-center justify-content-md-start">
          <div class="col-lg-6 wow" data-wow-offset="150">
            <h3>LookBook<br>Trang phục cổ điển</h3>
            <p>Tập trung vào trang phục cổ điển từ các thập niên trước đây, bao gồm các kiểu dáng, màu sắc và chất liệu
              thời trang từ các thập niên 1920 đến 1980</p>
            <div class="feat_text_block">
              <div class="price_box">
                <span class="new_price">₫500.000</span>
                <span class="old_price" style="color:antiquewhite">₫570.000</span>
              </div>
              <a class="btn_1" href="collection/645d9fba3b1b12bc4aeca693" role="button">Mua Ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /chữ gì đó bùm chíu-->

  <div id="new" class="container margin_60_35">
    <div class="main_title">
      <h2>Sản Phẩm Mới</h2>
      <span>Hàng mới về nóng hổi, thơm phức</span>
      <p>Đây là sản phẩm mới nhất của chúng tôi - mua ngay trước khi chúng trở nên cũ kỹ và nhạt nhẽo như tên của nó!
      </p>
    </div>
    <div class="row small-gutters">
    <div class="row small-gutters" >
      <div class="col-6 col-md-4 col-xl-3"*ngFor="let p of product_slides">
        <div class="grid_item">
          <figure>
            <span class="ribbon off">- {{p.sale_percent}} %</span>
            <a [routerLink]="['/product/',p._id]">
              <img class="img-fluid lazy"
                src="{{p.image}}" alt=""
                style="object-fit: cover; height: 20em; width: 20em;">
              <img class="img-fluid lazy"
                src="{{ui.img_behind}}"
                data-src="assets/img/products/shoes/1_b.jpg" alt="">
            </a>
            <!-- <div data-countdown="2019/05/15" class="countdown"></div> -->
          </figure>
          <div class="rating">
            <i *ngFor="let star of [].constructor(p.floorRating())" class="icon-star voted"></i>
            <i *ngFor="let star of [].constructor(5 - p.floorRating())" class="icon-star"></i>
          </div>
          <a  [routerLink]="['/product/',p._id]">
            <h3>{{p.name}}</h3>
          </a>
          <div class="price_box">
            <span class="new_price">{{_format.formatCurrency(p.price)}}</span>
            <span class="old_price">{{_format.formatCurrency(p.original_price)}}</span>
          </div>
          <ul>
            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thích quá rùi nà"><i
                  class="ti-heart"></i><span>Thích quá rùi nà</span></a></li>
            <!-- <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a></li> -->
            <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào giỏ hàng"><i
                  class="ti-shopping-cart"></i><span>Thêm vào giỏ hàng</span></a></li>
          </ul>
        </div>
        <!-- /grid_item -->
      </div>
      <!-- /col -->

      <!-- /col -->
    </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /mới về -->





  <div class="container margin_60_35">
    <div class="main_title">
      <h2>Tin Thời Trang</h2>
      <span>Trên báo những thông tin chen nhau đi một hàng</span>
      <p>Tin thời trang giống như một chiếc áo quá cũ, luôn cần phải được thay đổi để không bị "lỗi thời"</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <a class="box_news" [routerLink]="['/blog']">
          <figure>
            <img src="https://vietnamleather.com/wp-content/uploads/2020/07/quan-ao-nam-ava-780x470.jpg"
              data-src="img/blog-thumb-1.jpg" alt="" width="400" height="266" class="lazy">
            <figcaption><strong>29</strong>Apr</figcaption>
          </figure>
          <ul>
            <li>Đăng bởi Tyhun</li>
            <li>29.04.2023</li>
          </ul>
          <h4>Xu hướng thời trang nam hiện nay có những kiểu phối nào?</h4>
          <p>Đối với những tín đồ thời trang, việc liên tục cải thiện, đổi mới tủ đồ là điều không thể tránh khỏi. Tuy
            nhiên, với những xu hướng thời trang nam...</p>
        </a>
      </div>
      <!-- /box_news -->
      <div class="col-lg-6">
        <a class="box_news" [routerLink]="['/blog']">
          <figure>
            <img src="https://www.elleman.vn/wp-content/uploads/2018/09/25/thoi-trang-duong-pho-elleman-23.png"
              data-src="img/blog-thumb-2.jpg" alt="" width="400" height="266" class="lazy">
            <figcaption><strong>11</strong>Nov</figcaption>
          </figure>
          <ul>
            <li>Đăng bởi Paferuto</li>
            <li>11.11.2022</li>
          </ul>
          <h4>Ciao Milano! Lời từ biệt cho những tín đồ thời trang đường phố </h4>
          <p>Diễn ra từ ngày 19-25/9, Milan Fashion Week Xuân-Hè 2019 là cuộc đổ bộ của những tín đồ thời trang đường
            phố hàng đầu thế giới...</p>
        </a>
      </div>
      <!-- /box_news -->
      <div class="col-lg-6">
        <a class="box_news" [routerLink]="['/blog']">
          <figure>
            <img src="https://hidanz.com/wp-content/uploads/2022/05/Quan-ong-suong-lich-lam-cuc-ki-de-phoi-do.jpg"
              data-src="img/blog-thumb-3.jpg" alt="" width="400" height="266" class="lazy">
            <figcaption><strong>20</strong>Nov</figcaption>
          </figure>
          <ul>
            <li>Đăng bởi ThanhEnc</li>
            <li>20.11.2017</li>
          </ul>
          <h4>Công thức diện đồ với quần dài Unisex nam và nữ siêu đẹp</h4>
          <p>Phong cách unisex đã in sâu trong tâm trí rất nhiều người, chúng ta rất dễ dàng bắt gặp chúng ở rất nhiều
            cửa hàng thời trang...</p>
        </a>
      </div>
      <!-- /box_news -->
      <div class="col-lg-6">
        <a class="box_news" [routerLink]="['/blog']">
          <figure>
            <img
              src="https://storage.googleapis.com/ops-shopee-files-live/live/shopee-blog/2023/03/57e5a55b-phoi-do-voi-quan-ong-rong-nam-thumbnail.jpg"
              data-src="img/blog-thumb-4.jpg" alt="" width="400" height="266" class="lazy">
            <figcaption><strong>20</strong>Nov</figcaption>
          </figure>
          <ul>
            <li>Đăng bởi Tyhun</li>
            <li>20.11.2022</li>
          </ul>
          <h4>15+ cách phối đồ với quần ống rộng nam trẻ trung, sành điệu</h4>
          <p>Quần ống rộng là một item thời trang không thể thiếu trong tủ đồ của nhiều bạn nam trẻ tuổi. Với ưu điểm
            tiện dụng và dễ dàng che đi....</p>
        </a>
      </div>
      <!-- /box_news -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>
<!-- /main -->
<div class="popup_wrapper">
  <div class="popup_content">
    <span class="popup_close">Đóng</span>
    <a [routerLink]="['/listrow']"><img class="img-fluid" src="../assets/img/banner_popup.png" alt="" width="500"
        height="500"></a>
  </div>
</div>
